@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-green: #1a4d3d;
  --primary-gray: #4b5563;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.text-green {
  color: var(--primary-green);
}

.bg-green {
  background-color: var(--primary-green);
  color: white;
}

.text-gray {
  color: var(--primary-gray);
}

html, body {
  scroll-behavior: smooth;
}
